<div>
 <div class="page-title">                    
        <h2><span class="fa fa-th-list"></span> Manage Offer</h2>

</div>
	<div class="row" ng-controller="manageOfferController" ng-init="init()">
    <div class="col-md-8 col-md-offset-2">
      <div ng-if="statusMsg" class="alert ng-class:statusMsg.type" role="alert">
      <button type="button" ng-click="closeAlert()" class="close" ><span>×</span><span class="sr-only">Close</span></button>
      <li ng-repeat="x in statusMsg.content track by $index">
      {{x}}
      </li>

    </div>
      <form class="form-horizontal" name="offerForm" method="POST" ng-submit="manageOffer()">
        <div class="panel panel-colorful">
          <div class="panel-heading">
            
            <ul class="panel-controls">
            
            </ul>
          </div>
          <div class="panel-body">
            <p class="text-info"><i class="fa fa-info-circle"></i> Creates, updates, or deletes an offer.</p>
          </div>
          <div class="panel-body">

            <div class="form-group">
              <label class="col-md-3 col-xs-12 control-label">Selling</label>
                
                <label class="switch switch-small">
                    Lumens(XLM) <br>    
                    <input type="radio" ng-model="offerData.sellingAssetType" ng-change="clearAsset(1)" ng-value="0">
                    <span></span>
                </label>
                
                <label class="switch switch-small">
                    Alphanumeric 4 <br>    
                    <input type="radio" ng-model="offerData.sellingAssetType" ng-change="clearAsset(1)" ng-value="4">
                    <span></span>
                </label>                                        
                <label class="switch switch-small">
                    Alphanumeric 12 <br>
                    <input type="radio" ng-model="offerData.sellingAssetType" ng-change="clearAsset(1)" ng-value="12">
                    <span></span>
                </label>                                        
                                                            
              
            </div>

            <div class="form-group" ng-show="isCustomAsset(offerData.sellingAssetType)">
              <label class="col-md-3 col-xs-12 control-label">Selling Asset Code</label>
              <div class="col-md-6 col-xs-12">
                <div class="input-group">
                  <span class="input-group-addon"><span class="fa fa-key"></span></span>
                  <input class="form-control" type="text" name="sellingAssetCode" ng-model="offerData.sellingAssetCode" maxlength="{{offerData.sellingAssetType}}"/>
                  
                </div>
                <span class="help-block">Asset Alphanumeric Code; Eg: USD, EUR, XLM</span>
              </div>
            </div>
            <div class="form-group" ng-show="isCustomAsset(offerData.sellingAssetType)">
              <label class="col-md-3 col-xs-12 control-label">Selling Asset Issuer</label>
              <div class="col-md-6 col-xs-12">
                <div class="input-group">
                  <span class="input-group-addon"><span class="fa fa-user"></span></span>
                  <input class="form-control" type="text" name="sellingAssetIssuer" ng-model="offerData.sellingAssetIssuer"/>
                  
                </div>
                <span class="help-block">Stellar Account ID of the Asset Issuer</span>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 col-xs-12 control-label">Buying</label>
                
                <label class="switch switch-small">
                    Lumens(XLM) <br>    
                    <input type="radio" ng-model="offerData.buyingAssetType" ng-change="clearAsset(2)" ng-value="0">
                    <span></span>
                </label>
                
                <label class="switch switch-small">
                    Alphanumeric 4 <br>    
                    <input type="radio" ng-model="offerData.buyingAssetType" ng-change="clearAsset(2)"  ng-value="4">
                    <span></span>
                </label>                                        
                <label class="switch switch-small">
                    Alphanumeric 12 <br>
                    <input type="radio" ng-model="offerData.buyingAssetType" ng-change="clearAsset(2)" ng-value="12">
                    <span></span>
                </label>                                        
                                                            
              
            </div>

            <div class="form-group" ng-show="isCustomAsset(offerData.buyingAssetType)">
              <label class="col-md-3 col-xs-12 control-label">Buying Asset Code</label>
              <div class="col-md-6 col-xs-12">
                <div class="input-group">
                  <span class="input-group-addon"><span class="fa fa-key"></span></span>
                  <input class="form-control" type="text" name="buyingAssetCode" ng-model="offerData.buyingAssetCode" maxlength="{{offerData.buyingAssetType}}"/>
                  
                </div>
                <span class="help-block">Asset Alphanumeric Code; Eg: USD, EUR, XLM</span>
              </div>
            </div>
            <div class="form-group" ng-show="isCustomAsset(offerData.buyingAssetType)">
              <label class="col-md-3 col-xs-12 control-label">Buying Asset Issuer</label>
              <div class="col-md-6 col-xs-12">
                <div class="input-group">
                  <span class="input-group-addon"><span class="fa fa-user"></span></span>
                  <input class="form-control" type="text" name="buyingAssetIssuer" ng-model="offerData.buyingAssetIssuer"/>
                  
                </div>
                <span class="help-block">Stellar Account ID of the Asset Issuer</span>
              </div>
            </div>            

            <div class="form-group">
              <label class="col-md-3 col-xs-12 control-label">Amount</label>
              <div class="col-md-6 col-xs-12">                                            
                <div class="input-group">
                  <span class="input-group-addon"><span class="fa fa-money"></span></span>
                  <input type="number" min="0" class="form-control" name="amount" ng-model="offerData.amount" required/>
                </div>                                            
                <span class="help-block">The total amount you're selling. If 0, deletes the offer.</span>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 col-xs-12 control-label">Price</label>
              <div class="col-md-6 col-xs-12">                                            
                <div class="input-group">
                  <span class="input-group-addon"><span class="fa fa-money"></span></span>
                  <input type="number" min="0" class="form-control" name="price" ng-model="offerData.price" required/>
                </div>                                            
                <span class="help-block">The exchange rate ratio (selling / buying)</span>
              </div>
            </div> 

            <div class="form-group">
              <label class="col-md-3 col-xs-12 control-label">Offer ID</label>
              <div class="col-md-6 col-xs-12">                                            
                <div class="input-group">
                  <span class="input-group-addon"><span class="fa fa-money"></span></span>
                  <input type="number" min="0" class="form-control" name="offerId" ng-model="offerData.offerId"/>
                </div>                                            
                <span class="help-block">If 0, will create a new offer. Otherwise, edits an exisiting offer.</span>
              </div>
            </div>
            
          </div>
          <div class="panel-footer">
            <button class="btn btn-success pull-right" ng-disabled="offerForm.$error.required || offerForm.$invalid">Submit</button>
          </div>
        </div>
      </form>
    </div>



  </div>

</div>
