<div>
 <div class="page-title">                    
        <h2><span class="fa fa-th-list"></span> Create Passive Offer</h2>

</div>
	<div class="row" ng-controller="passiveOfferController" ng-init="init()">
    <div class="col-md-12">
      <div ng-if="statusMsg" class="alert ng-class:statusMsg.type" role="alert">
        <button type="button" ng-click="closeAlert()" class="close" ><span>×</span><span class="sr-only">Close</span></button>
        <li ng-repeat="x in statusMsg.content track by $index">
        {{x}}
        </li>
      </div>
      <div>
        <p class="text-info"><i class="fa fa-info-circle"></i> A passive offer is an offer that does not act on and take a reverse offer of equal price. Instead, they only take offers of lesser price</p>
      </div>      
    </div>
    <div class="col-md-6">
      <div class="panel panel-colorful">
        <div class="panel-heading">
          <div class="panel-title-box">
            <h3>Offers</h3>
            <span>Offers made by this account</span>
          </div>                                    
          
        </div>
        <div class="panel-body panel-body-table">

          <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th width="10%">ID</th>
                  <th width="35%">Selling</th>
                  <th width="35%">Buying</th>
                  <th width="10%">Amount</th>
                  <th width="10%">Price</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="x in offers">
                  <td>{{x.id}}</td>
                  <td><strong>{{x.selling.asset_type === 'native' ? 'XLM' : x.selling.asset_code }}</strong></td>
                  <td><strong>{{x.buying.asset_type === 'native' ? 'XLM' : x.buying.asset_code }}</strong></td>
                  <td>{{x.amount}}</td>
                  <td>{{x.price}}</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
      <div class="panel panel-colorful">
        <div class="panel-heading">
          <div class="panel-title-box">
            <h3>Trustlines</h3>
            <span>Trustlines for assets in account with limits</span>
          </div>                                    
          
        </div>
        <div class="panel-body panel-body-table">

          <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th width="10%">Asset Type</th>
                  <th width="60%">Asset Issuer</th>
                  <th width="15%">Balance</th>
                  <th width="15%">Limit</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="x in assets">
                  <td><strong>{{x.asset_type === 'native' ? 'XLM' : x.asset_code }}</strong></td>
                  <td class="has_id">{{x.asset_type === 'native' ? 'stellar.org' :x.asset_issuer}}</td>
                  <td>{{x.balance}}</td>
                  <td>{{x.asset_type === 'native' ? 'No Limit' :x.limit}}</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>            
    </div>
  
    <div class="col-md-6">
      <form class="form-horizontal" name="offerForm" method="POST" ng-submit="passiveOffer()">
        <div class="panel panel-colorful">
          <div class="panel-heading">
            
            <ul class="panel-controls">
            
            </ul>
          </div>

          <div class="panel-body">

            <div class="form-group">
              <label class="col-md-3 col-xs-12 control-label">Selling</label>
                
                <label class="switch switch-small">
                    Lumens(XLM) <br>    
                    <input type="radio" ng-model="offerData.sellingAssetType" ng-change="clearAsset(1)" ng-value="0">
                    <span></span>
                </label>
                
                <label class="switch switch-small">
                    Alphanumeric 4 <br>    
                    <input type="radio" ng-model="offerData.sellingAssetType" ng-change="clearAsset(1)" ng-value="4">
                    <span></span>
                </label>                                        
                <label class="switch switch-small">
                    Alphanumeric 12 <br>
                    <input type="radio" ng-model="offerData.sellingAssetType" ng-change="clearAsset(1)" ng-value="12">
                    <span></span>
                </label>                                        
                                                            
              
            </div>

            <div class="form-group" ng-show="isCustomAsset(offerData.sellingAssetType)">
              <label class="col-md-3 col-xs-12 control-label">Selling Asset Code</label>
              <div class="col-md-6 col-xs-12">
                <div class="input-group">
                  <span class="input-group-addon"><span class="fa fa-key"></span></span>
                  <input class="form-control" type="text" name="sellingAssetCode" ng-model="offerData.sellingAssetCode" maxlength="{{offerData.sellingAssetType}}"/>
                  
                </div>
                <span class="help-block">Asset Alphanumeric Code; Eg: USD, EUR, XLM</span>
              </div>
            </div>
            <div class="form-group" ng-show="isCustomAsset(offerData.sellingAssetType)">
              <label class="col-md-3 col-xs-12 control-label">Selling Asset Issuer</label>
              <div class="col-md-6 col-xs-12">
                <div class="input-group">
                  <span class="input-group-addon"><span class="fa fa-user"></span></span>
                  <input class="form-control" type="text" name="sellingAssetIssuer" ng-model="offerData.sellingAssetIssuer"/>
                  
                </div>
                <span class="help-block">Stellar Account ID of the Asset Issuer</span>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 col-xs-12 control-label">Buying</label>
                
                <label class="switch switch-small">
                    Lumens(XLM) <br>    
                    <input type="radio" ng-model="offerData.buyingAssetType" ng-change="clearAsset(2)" ng-value="0">
                    <span></span>
                </label>
                
                <label class="switch switch-small">
                    Alphanumeric 4 <br>    
                    <input type="radio" ng-model="offerData.buyingAssetType" ng-change="clearAsset(2)"  ng-value="4">
                    <span></span>
                </label>                                        
                <label class="switch switch-small">
                    Alphanumeric 12 <br>
                    <input type="radio" ng-model="offerData.buyingAssetType" ng-change="clearAsset(2)" ng-value="12">
                    <span></span>
                </label>                                        
                                                            
              
            </div>

            <div class="form-group" ng-show="isCustomAsset(offerData.buyingAssetType)">
              <label class="col-md-3 col-xs-12 control-label">Buying Asset Code</label>
              <div class="col-md-6 col-xs-12">
                <div class="input-group">
                  <span class="input-group-addon"><span class="fa fa-key"></span></span>
                  <input class="form-control" type="text" name="buyingAssetCode" ng-model="offerData.buyingAssetCode" maxlength="{{offerData.buyingAssetType}}"/>
                  
                </div>
                <span class="help-block">Asset Alphanumeric Code; Eg: USD, EUR, XLM</span>
              </div>
            </div>
            <div class="form-group" ng-show="isCustomAsset(offerData.buyingAssetType)">
              <label class="col-md-3 col-xs-12 control-label">Buying Asset Issuer</label>
              <div class="col-md-6 col-xs-12">
                <div class="input-group">
                  <span class="input-group-addon"><span class="fa fa-user"></span></span>
                  <input class="form-control" type="text" name="buyingAssetIssuer" ng-model="offerData.buyingAssetIssuer"/>
                  
                </div>
                <span class="help-block">Stellar Account ID of the Asset Issuer</span>
              </div>
            </div>            

            <div class="form-group">
              <label class="col-md-3 col-xs-12 control-label">Amount</label>
              <div class="col-md-6 col-xs-12">                                            
                <div class="input-group">
                  <span class="input-group-addon"><span class="fa fa-money"></span></span>
                  <input type="number" min="0" class="form-control" name="amount" ng-model="offerData.amount" required/>
                </div>                                            
                <span class="help-block">The total amount you're selling. If 0, deletes the offer.</span>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 col-xs-12 control-label">Price</label>
              <div class="col-md-6 col-xs-12">                                            
                <div class="input-group">
                  <span class="input-group-addon"><span class="fa fa-money"></span></span>
                  <input type="number" min="0" class="form-control" name="price" ng-model="offerData.price" required/>
                </div>                                            
                <span class="help-block">The exchange rate ratio (selling / buying)</span>
              </div>
            </div> 

          </div>
          <div class="panel-footer">
            <button class="btn btn-success pull-right" ng-disabled="offerForm.$error.required || offerForm.$invalid">Submit</button>
          </div>
        </div>
      </form>
    </div>



  </div>

</div>
