<div>
<div class="page-title">
  <h2><span class="fa fa-rocket"></span> Enter your passphrase</h2>
</div>
	<div class="row" ng-controller="savePassphraseController" ng-init="init()">
    <div ng-if="statusMsg" class="alert ng-class:statusMsg.type" role="alert">
      <button type="button" ng-click="closeAlert()" class="close" ><span>×</span><span class="sr-only">Close</span></button>
      <li ng-repeat="x in statusMsg.content track by $index">
      {{x}}
      </li>

    </div>

		<div class="col-md-8 col-md-offset-2">

			<div class="panel panel-colorful">
				<div class="panel-body">
					<h2>Transaction Passphrase</h2>
					<p class="text-info"> <i class="fa fa-info"></i> Why do I need to do this?</p>
          <p>You need a password to authenticate your transactions when sending payments and changing account options. This is also used in the encrypting process of your private key. <a href="https://galactictalk.org/d/358-saza-wallet-updates" target="_blank">Read more here</a></p>
          <p><h3 class="text-danger">This passphrase CAN NOT be reset or recovered. Ensure you write it down safely.</h3></p>

          <form method="post" ng-submit="changePassword()" name="changePasswordForm">
             <div class="form-group">
                <label>New Passphrase</label>
                <input type="password" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" name="password" ng-model="userData.password" placeholder="Enter New Passphrase" required>
              </div>
              <div class="form-group">
                <label>Confirm New Passphrase</label>
                <input type="password" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" name="password_confirmation" ng-model="userData.password_confirmation" placeholder="Confirm New Passphrase" required data-password-verify="userData.password">
              </div>
              <small style="color:red" ng-show="changePasswordForm.password.$dirty && changePasswordForm.password_confirmation.$error.required">
                Confirm Passphrase!
              </small>
              <small style="color:red" ng-show="changePasswordForm.password_confirmation.$error.passwordVerify">
                Passphrase Mismatch!
              </small>

              <button class="btn btn-success pull-right" ng-disabled="changePasswordForm.$error.required || changePasswordForm.$error.$invalid || changePasswordForm.password_confirmation.$error.passwordVerify">Change Passphrase</button>
          </form>


				</div>
				<div class="panel-footer">

				</div>
			</div>

		</div>

  </div>
</div>
