/*You can add your won color also */
.title1 {
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 13px;
}
.title1 i {
  font-size: 24px;
  padding-right: 5px;
}
.upper {
  text-transform: uppercase;
}
.form-control {
  height: 40px;
}
.form-control,
textarea {
  background: #FFF;
  border: 1px solid #DDD;
  font-size: 13px;
  outline: medium none;
  color: #324545;
  margin: 15px 0;
  padding: 10px 12px;
  box-shadow: none;
}
.form-control:focus,
textarea:focus {
  box-shadow: none;
}
.contact-form select {
  padding: 9px;
}
.contact-form .orderby {
  position: relative;
}
.contact-form .orderby select {
  width: 100%;
  border: 1px solid #DDD;
  border-radius: 4px;
  outline: none;
  color: #324545;
  margin: 15px 0;
  padding: 10px 12px;
  height: 40px;
}
.contact-form .orderby:before {
  content: "\f107";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  line-height: 40px;
  top: 15px;
  background: #FFF none repeat scroll 0% 0%;
  right: 1px;
  width: 40px;
  max-height: 40px;
  text-align: center;
  pointer-events: none;
  font-size: 16px;
  height: 100%;
  border-left: 1px solid #DDD;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #ddd;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.information {
  margin-top: 15px;
}
.contact-datails {
  margin-bottom: 34px;
  min-height: 75px;
  position: relative;
}
.contact-datails .info {
  padding-left: 90px;
}
.contact-datails .info h3 {
  font-size: 16px;
  display: block;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.contact-datails .info .datail {
  display: block;
}
.title-banner {
  position: relative;
  padding: 40px;
  color: #fff;
}
.title-banner h2 {
  font-size: 30px;
}
#google-map,
body,
html {
  padding: 0;
  height: 400px;
}
