<div class="page-title">                    
  <h2><span class="fa fa-dashboard"></span> Account Overview</h2>
</div>

<div ng-controller="dashboardController" ng-init="init()">
  <!-- START WIDGETS -->                    
  <div class="row">
    <div class="col-md-3">

      <div class="widget widget-info">
        <div class="widget-title">XLM Balance</div>
        <div class="widget-subtitle">Lumens</div>
        <div class="widget-int"><span data-toggle="counter" data-to="1564">{{balance.xlm || 0.00 | currency:"XLM":4}}</span></div>
        <!-- <div class="widget-controls">
          <a href="#" class="widget-control-left"><span class="fa fa-upload"></span></a>
          <a href="#" class="widget-control-right"><span class="fa fa-times"></span></a>
        </div> -->
      </div>

    </div>
    <div class="col-md-3">

      <div class="widget widget-success">
        <div class="widget-title">XLM Value in USD</div>
        <div class="widget-subtitle">US Dollars</div>
        <div class="widget-int">
          <span data-toggle="counter" data-to="1564">
            {{balance.usd || 0.00 | currency}}
        </span></div>
        <!-- <div class="widget-controls">
          <a href="#" class="widget-control-left"><span class="fa fa-upload"></span></a>
          <a href="#" class="widget-control-right"><span class="fa fa-times"></span></a>
        </div> -->
      </div>

    </div>
    <div class="col-md-3">

      <div class="widget widget-warning">
        <div class="widget-title">XLM Value in BTC</div>
        <div class="widget-subtitle">Bit Coin</div>
        <div class="widget-int"><span data-toggle="counter" data-to="1564">
          {{balance.btc || 0.00 | currency:"BTC"}}
        </span></div>
        <!-- <div class="widget-controls">
          <a href="#" class="widget-control-left"><span class="fa fa-upload"></span></a>
          <a href="#" class="widget-control-right"><span class="fa fa-times"></span></a>
        </div> -->
      </div>

    </div>
    <div class="col-md-3">

      <div class="widget widget-default">
        <div class="widget-title">XLM Value in NGN</div>
        <div class="widget-subtitle">Nigerian Naira</div>
        <div class="widget-int">
          {{balance.ngn || 0.00 | currency:"NGN"}}
        </div>
        <!-- <div class="widget-controls">
          <a href="#" class="widget-control-left"><span class="fa fa-upload"></span></a>
          <a href="#" class="widget-control-right"><span class="fa fa-times"></span></a>
        </div> -->
      </div>

    </div>    
    <!-- <div class="col-md-3">

      <div class="widget widget-danger widget-padding-sm">
        <div class="widget-big-int plugin-clock">20<span>:</span>48</div>                            
        <div class="widget-subtitle plugin-date">Thursday, August 18, 2016</div>
        <div class="widget-controls">                                
          <a href="#" class="widget-control-right"><span class="fa fa-times"></span></a>
        </div>                            
        <div class="widget-buttons widget-c3">
          <div class="col">
            <a href="#"><span class="fa fa-clock-o"></span></a>
          </div>
          <div class="col">
            <a href="#"><span class="fa fa-bell"></span></a>
          </div>
          <div class="col">
            <a href="#"><span class="fa fa-calendar"></span></a>
          </div>
        </div>                            
      </div>                        

    </div> -->


  </div>
  <!-- END WIDGETS -->                    

  <div class="row">
    <div class="col-md-8">

      <!-- START transaction BLOCK -->
        <div ui-view="txHistory"></div>
      <!-- END transaction BLOCK -->

      <!-- START trustlines BLOCK -->
        <div>
          <div class="panel panel-colorful">
            <div class="panel-heading">
              <div class="panel-title-box">
                <h3>Trustlines</h3>
                <span>Trustlines for assets in account with limits</span>
                <a ui-sref="changetrust" class="btn btn-default pull-right">
                      Change Trust <span class="fa fa-chevron-right"></span>
                </a>
                
              </div>                                    
              
            </div>
            <div class="panel-body panel-body-table">

              <div class="table-responsive">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th width="10%">Asset Type</th>
                      <th width="70%">Asset Issuer</th>
                      <th width="20%">Limit</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="x in assets">
                      <td><strong>{{x.asset_type === 'native' ? 'XLM' : x.asset_code }}</strong></td>
                      <td>{{x.asset_type === 'native' ? 'stellar.org' :x.asset_issuer}}</td>
                      <td>{{x.asset_type === 'native' ? 'No Limit' :x.limit}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
      <!-- END trustlines BLOCK -->      
      
    </div>
    <div class="col-md-4">
      <div class="page-title">                    
        <h2><span class="text-warning  fa fa-star"></span> New Features</h2>
      </div>
      <!-- START NEW FEATURES BLOCK -->
      <div class="panel panel-colorful">
        <div class="panel-heading">
          <div class="panel-title-box">
            <h3>Now you can</h3>
            <span></span>
          </div>                                    
          
        </div>
        <div class="panel-body">
          <a ui-sref="addaccount" class="list-group-item">                                 
              <div class="list-group-status status-online"></div>
              <span class="contacts-title">Manage multiple stellar accounts</span>
              <p></p>                                                                        
          </a>
          <a ui-sref="sendpayment" class="list-group-item">                                 
              <div class="list-group-status status-online"></div>
              <span class="contacts-title">Send payments in different assets</span>
              <p></p>                                                                        
          </a>
          <a ui-sref="changetrust" class="list-group-item">                                 
              <div class="list-group-status status-online"></div>
              <span class="contacts-title">Create/Manage Trustlines</span>
              <p></p>                                                                        
          </a>          
          <a ui-sref="manageoffer" class="list-group-item">                                 
              <div class="list-group-status status-online"></div>
              <span class="contacts-title">Create/Manage Offers</span>
              <p></p>                                                                        
          </a>  
          <a ui-sref="transactions" class="list-group-item">                                 
              <div class="list-group-status status-online"></div>
              <span class="contacts-title">View all operations on account</span>
              <p></p>                                                                        
          </a>       
          <a ui-sref="setoptions" class="list-group-item">                                 
              <div class="list-group-status status-online"></div>
              <span class="contacts-title">Set all account options</span>
              <p></p>                                                                        
          </a>
          <a href="#" class="list-group-item">                                 
              <div class="list-group-status status-online"></div>
              <span class="contacts-title">...and much more.. </span>
              <p></p>                                                                        
          </a>

        </div>
      </div>
      <!--END NEW FEATURES BLOCK -->
      <div class="page-title">                    
        <h2><span class="fa fa-list"></span> Assets</h2>
      </div>
      <!-- START ASSETS BLOCK -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title-box">
            <h3>Assets</h3>
            <span>Balance of assets in account</span>
          </div>                                    
          
        </div>
        <div class="panel-body panel-body-table">

          <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th width="50%">Asset Type</th>
                  <th width="50%">Balance</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="x in assets">
                  <td><strong>{{x.asset_type === 'native' ? 'XLM' : x.asset_code }}</strong></td>
                  <td>{{x.balance}}</td>
                  
                </tr>

              </tbody>
            </table>
          </div>

        </div>
      </div>
      <!-- END ASSETS BLOCK -->

      <!-- Contact block starts -->
      <div ui-view="contactForm"></div>
      <!-- Contact block ends -->

    </div>
  </div>

</div>


