<div class="page-title">
  <h2><span class="fa fa-cogs"></span> Settings</h2>
</div>
<div class="row" ng-controller="settingsController" ng-init="init()">
  <div class="col-md-10 col-md-offset-1">
    <div ng-if="statusMsg" class="alert ng-class:statusMsg.type" role="alert">
      <button type="button" ng-click="closeAlert()" class="close" ><span>×</span><span class="sr-only">Close</span></button>
      <li ng-repeat="x in statusMsg.content track by $index">
      {{x}}
      </li>

    </div>
    <div class="panel panel-colorful nav-tabs-vertical">
      <div class="panel-heading ui-draggable-handle">
        <h3 class="panel-title">Modify your settings</h3>
      </div>
      <div class="tabs">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab1" data-toggle="tab" aria-expanded="false"><i class="fa fa-list"></i> Account Details</a></li>
          <li class=""><a href="#tab2" data-toggle="tab" aria-expanded="false"><i class="fa fa-key"></i> Change Passphrase</a></li>
          <li class=""><a href="#tab3" data-toggle="tab" aria-expanded="true"><i class="fa fa-lock"></i> Change Password</a></li>
        </ul>
        <div class="panel-body tab-content">
          <div class="tab-pane  active" id="tab1">
            <h2 class="header-side">Account ID</h2>
              <span id="acctID">{{currentUser.currentAccount}}  </span>
              <span>
                <button ngclipboard data-clipboard-target="#acctID" >
                  <i class="fa fa-clipboard"></i>
                </button>
              </span>
              <br>
            <h2 class="header-side">Seed</h2>
              <span>{{seed}}</span>
              <span>
                <button ng-click="toggleSeedView()" class="btn btn-default">
                  <i  class="fa fa-eye"></i>
                </button>
              </span>
              <br>
            <h2 class="header-side">Set Username</h2>

             <h3 ng-if="currentUser.currentUsername"><strong>Current Stellar Address:</strong> {{currentUser.currentUsername}}</h3>

            <p>You can set a username for your stellar account instead of using the long Account ID.</p>
            <p>The name will be in this format <em>username</em>*<em>domain.com</em>.
              For example: <em>jasmine*{{siteURL}}</em>
            </p>
            <p>To set a username <a ui-sref="setusername">click here</a></p>

            <h2 class="header-side text-danger">Delete Account</h2>
            <p class="alert alert-danger" role="alert">Caution!! This is irreversible.</p>
            <p>This will remove your account from Saza Wallet, but it will still be active on the Stellar network. To remove the account from Stellar, use the <a ui-sref="mergeaccount">account merge</a> operation</p>

            <h4>Delete {{currentUser.currentAccount}} ?</h4>

              <form method="post" ng-submit="deleteAccount()" name="deleteAccountForm">
                <div class="form-group">
                  <label>Enter Password</label>
                    <input type="password" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" name="password" ng-model="deleteData.password" placeholder="Enter Password" required>
                  </div>
                  <button class="btn btn-success pull-right" ng-disabled="deleteAccountForm.$error.required || deleteAccountForm.$error.$invalid">Yes, Delete Account</button>
              </form>

          </div>
          <!-- Tab 2 -->
          <div class="tab-pane" id="tab2">
            <div class="row">
              <h2 class="header-side">Change Passphrase</h2>
              <p>To change your passphrase, please fill the new passphrase below and click save</p>
              <p class="text-info"><i class="fa fa-info"></i> You need to enter your old passphrase for the change to be successful. If yor require a passphrase reset, kindly contact admin</p>
              <form method="post" ng-submit="changePassphrase()" name="changePassphraseForm">
                  <div class="form-group">
                    <label>New Passphrase</label>
                    <input type="password" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" name="password" ng-model="userData.passphrase" placeholder="Enter New Passphrase" required>
                  </div>
                  <div class="form-group">
                    <label>Confirm New Passphrase</label>
                    <input type="password" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" name="passphrase_confirmation" ng-model="userData.passphrase_confirmation" placeholder="Confirm New Passphrase" required data-password-verify="userData.passphrase">
                  </div>
                  <small style="color:red" ng-show="changePasswordForm.passphrase.$dirty && changePassphraseForm.passphrase_confirmation.$error.required">
                    Confirm Passphrase!
                  </small>
                  <small style="color:red" ng-show="changePassphraseForm.passphrase_confirmation.$error.passwordVerify">
                    Passphrase Mismatch!
                  </small>
                  <div class="form-group">
                    <label>Enter Old Passphrase</label>
                    <input type="password" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" name="old_passphrase" ng-model="userData.old_passphrase" placeholder="Enter Old Passphrase" required="">
                  </div>
                  <button class="btn btn-success pull-right" ng-disabled="changePassphraseForm.$error.required || changePassphraseForm.$error.$invalid || changePassphraseForm.password_confirmation.$error.passwordVerify">Change Password</button>
              </form>

            </div>
          </div>

          <!-- Tab 3 -->
          <div class="tab-pane" id="tab3">
            <div class="row">
              <h2 class="header-side">Change Password</h2>
              <p>To change your password, please fill the new password below and click save</p>
              <p class="text-info"><i class="fa fa-info"></i> You need to enter your old password for the change to be successful. If yor require a password reset, kindly logout and use the "forgot password" option on the login page</p>
              <form method="post" ng-submit="changePassword()" name="changePasswordForm">
                 <div class="form-group">
                    <label>New Password</label>
                    <input type="password" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" name="password" ng-model="passwordData.password" placeholder="Enter New Password" required>
                  </div>
                  <div class="form-group">
                    <label>Confirm New Password</label>
                    <input type="password" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" name="password_confirmation" ng-model="passwordData.password_confirmation" placeholder="Confirm New Password" required data-password-verify="passwordData.password">
                  </div>
                  <small style="color:red" ng-show="changePasswordForm.password.$dirty && changePasswordForm.password_confirmation.$error.required">
                    Confirm Password!
                  </small>
                  <small style="color:red" ng-show="changePasswordForm.password_confirmation.$error.passwordVerify">
                    Passwords do not match!
                  </small>
                  <div class="form-group">
                    <label>Enter Old Password</label>
                    <input type="password" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" name="old_password" ng-model="passwordData.old_password" placeholder="Enter Old Password" required="">
                  </div>
                  <button class="btn btn-success pull-right" ng-disabled="changePasswordForm.$error.required || changePasswordForm.$error.$invalid || changePasswordForm.password_confirmation.$error.passwordVerify">Change Password</button>
              </form>

            </div>

          </div>

          <div class="tab-pane" id="tab44">
            <h2 class="header-side">Emails</h2>
            <p>
              Receive notifications when sending payments
            </p>
            <p>
              <span>No</span>
              <label class="switch">
                <input type="checkbox" checked="" value="0">
                <span></span>
              </label>
              <span>Yes</span>
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>