html, body{
	font-size: 14px;
	height: 100%;
	overflow: visible;
}

.page-container{
	/*height: inherit;*/
	min-height: 100%;
	background: url('../img/backgrounds/bg1.jpg');
      background-size: cover;

}

.page-container .page-content{
	background: transparent;
	background-color: white;

}

.page-content{
	/*height: auto!important;*/
	min-height: 800px!important;
	/*max-height: auto!important;*/
	
}

.header-side{
	border: 4px solid transparent;
  border-left-color: #e42d2d;
  padding-left: 8px;
}

.widget .widget-int {
  font-size: 28px;
}

.x-navigation li.xn-title {
    color: #000000;
   
}

.x-navigation.x-navigation-horizontal {
  /*background: url('../img/backgrounds/bg1.jpg');*/
    background-color: #33414e;

}

.x-navigation {
    background: url('../img/backgrounds/bg1.jpg');
    /*background-color: #33414e;*/
}

.login-container{
	background: transparent;
}

.breadcrumb{
	word-wrap: break-word;
}

p, span{
	word-wrap: break-word;
}

.login-container .login-box .login-body {
  background: rgba(0, 0, 0, 0.60);
}

.x-navigation > li.xn-logo > a:first-child {
    background: url("../img/logo.png") top center no-repeat #33414e;
}


.message-box .mb-container {
    top: 10%;
}

.close:hover, .close:focus {
	opacity: 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.tx-row:hover{
	background-color: #8BC34A;
	cursor: pointer;
}

.panel .panel-heading .panel-title-box {
  width: 100%;
}